<!-- We wait for all the objects to be loaded in the js controller -->
<div ng-if="ready" class="container-fluid">   

 
<!-- Page title -->         
    <div class="row no-gutters "> 
        <div class=" animated fadeInDown ms250" style="height: 40px">
            <p class="pagetitle"> PRODUCT EDS
            </p>
        </div>
    </div>

    <div class="row no-gutters"> 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 25px"></div>
    </div>

<!-- Filters -->
    <div class="row no-gutters">             
                                                               
    </div> 

<!-- Container with charts -->
    <div class="row no-gutters" ng-controller="SubMenuCrtl">  
     
    </div>        


    <div class="row no-gutters" ng-controller="SubMenuCrtl"> 
                  
    </div>               


<!-- Empty div to avoid overlaping with the panels -->      
    <div class="row no-gutters"> 
        <div class="col-xs-12" style="height: 8px"></div>
    </div>

</div> 